{

  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "globals": {
    "document": false,
    "escape": false,
    "navigator": false,
    "unescape": false,
    "window": false,
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true
  },
   "parserOptions": {
        "sourceType": "module",
    },

   "extends": "airbnb-base/legacy", 
    "rules": {
    "consistent-return" :[0], 
    "no-param-reassign": [0], 
    "no-bitwise": [0],
    "no-unneeded-ternary": [0]
  }
}